.puntoret-container{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    padding: 50px;
}
.links{
    text-decoration: none;
    color: royalblue;
    width: 300px;
    border: 1px solid black;
    transition: all 500ms ease-in-out;
}
.links:hover{
    transform: scale(1.2);
}
