body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: grid;
  grid-template:
    "header header" 44px
    "left-side  main" auto
    "footer footer" auto /
    256px 1fr;
    background-color: #F5F6F8;
}

header{
  grid-area: header;
}
.left-side{
  grid-area: left-side;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}
